<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Bienvenue sur mon site vitrine développé à l'aide du framework de développement web Symfony 2.3 (version stable).">
        <meta name="author" content="showfony.com">
        <title>{% block title %}shoefony.com - My Symfony Store !{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap Core CSS -->
            <link href="{{ asset('public/css/bootstrap.min.css') }}" rel="stylesheet">
            <!-- Custom CSS -->
            <link href="{{ asset('public/css/heroic-features.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block navbar %} {% endblock %}

        {% block body %} {% endblock %}

        {% block javascripts %}
            <!-- jQuery -->
            <script src="{{ asset('public/js/jquery.js') }}"></script>
            <!-- Bootstrap Core JavaScript -->
            <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
        {% endblock %}

        {% block footer %}
            <div class="container">
                <footer>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Copyright &copy; Shoe-fony 2015</p>
                        </div>
                    </div>
                </footer>
            </div>
        {% endblock %}
    </body>
</html>
